.container {
  height: 31.25rem;
  overflow: hidden;
  position: relative;
  filter: grayscale(1);
  transition: all 200ms ease-in-out;
}
.container:hover {
  filter: grayscale(0);
}
.title {
  color: #fff;
  font-weight: 200;
  letter-spacing: 2px;
}
