.heroContainer {
  background-color: black;
  position: relative;
}
.hero {
  height: 100vh;
  background-image: url("/images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.6;
}

@media (min-width: 48rem) {
  .bigMenuContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
