.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between {
  justify-content: space-between;
}
.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn {
  border: 2px solid #fff;
  color: #fff;
  padding: 1rem 2rem;
  display: inline-block;
}

.xxl {
  font-size: 2.8125rem;
}
.xl {
  font-size: 2rem;
}
.lg {
  font-size: 1.5rem;
}
.md {
  font-size: medium;
}
.sm {
  font-size: small;
}
.xs {
  font-size: 0.875rem;
}
.font-primary {
  font-family: "Abel";
}
.bold {
  font-weight: bold;
}
.thin {
  font-weight: 300;
}
.text-center {
  text-align: center;
}
.text-white {
  color: #fff;
}
.ls-2 {
  letter-spacing: 2px;
}

.dot-bg {
  background-image: url("/images/main_bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
